@import "tailwindcss";
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Safelist */
@source inline("bg-red-100");
@source inline("text-red-800");
@source inline("bg-green-100");
@source inline("text-green-800");
@source inline("bg-yellow-100");
@source inline("text-yellow-800");
@source inline("bg-gray-100");
@source inline("text-gray-800");

/* Dark mode */
@variant dark (&:where(.dark, .dark *));

/* Theme configuration */
@theme {
    /* Colors */
    --color-primary-50: #eff6ff;
    --color-primary-100: #dbeafe;
    --color-primary-200: #bfdbfe;
    --color-primary-300: #93c5fd;
    --color-primary-400: #60a5fa;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;
    --color-primary-800: #1e40af;
    --color-primary-900: #1e3a8a;
    --color-primary-950: #172554;

    /* Fonts */
    --font-body: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-sans: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-inter: "Inter";

    /* Others */
    --spacing-nav: 12vh;
}

body {
    @apply font-inter;
}
